OSS_REGION=oss-cn-beijing
OSS_BUCKET=hothairapp
OSS_PRIVATE_BUCKET=hothairprivate
OSS_ENDPOINT=https://oss-cn-beijing.aliyuncs.com
OSS_PUBLIC_BASE_URL=https://hothairapp.oss-cn-beijing.aliyuncs.com
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
