OSS_REGION=oss-cn-beijing
OSS_BUCKET=hothairapp
OSS_PRIVATE_BUCKET=hothairprivate
OSS_ENDPOINT=https://oss-cn-beijing.aliyuncs.com
OSS_PUBLIC_BASE_URL=https://hothairapp.oss-cn-beijing.aliyuncs.com
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
AMAP_WEB_SERVICE_KEY=
TRUST_PROXY_HOPS=0
WS_MAX_CONNECTIONS=5000
WS_MAX_CONNECTIONS_PER_IP=20
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_DISPLAY_NAME=
